.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  font-size: 11px;
}

.sidebar {
  width: 350px; /* set a maximum width */
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-top: -10px;
}

.sidebarItem {
  padding: 10px;
  /* margin: 5px; */
  cursor: pointer;
  margin-top: 3px;
  overflow-x: scroll;
  white-space: nowrap;
  color: rgb(203, 203, 203);
  font-size: 14px;
}

.sidebarItemTrashy {
  padding: 10px;
  cursor: pointer;
  margin-top: 3px;
  white-space: nowrap;
  color: rgb(203, 203, 203);
  font-size: 14px;
  display: flex;
  height: 20px;
  align-items: center;
}

.sidebarItemTrashy:hover {
  background-color: rgba(164, 139, 139, 0.095);
}

.trashBinIcon {
  height: 14px;
}

.sidebarItem:hover {
  background-color: rgba(164, 139, 139, 0.44);
}

.appLogo {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(238, 238, 238);
}

.noteHeaderTitle {
  margin-left: 10px;
  font-weight: 300;
  font-size: 12px;
  color: rgba(226, 222, 222, 0.345);
}
.sidebarNotesList {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 16px;
  border-radius: 8px;
  width: 90%;
  height: 570px;
  margin-bottom: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.108);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(175, 175, 175, 0.179);
}

.themeButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  width: 350px;
}

.themeButtonContainer {
  display: flex;
  justify-content: space-between;
}

.themeButton {
  cursor: pointer;
  border: transparent;
  width: 70px;
  height: 44px;
}

.themeButtonTitle {
  margin-bottom: 5px;
  margin-left: 5px;
  color: rgba(252, 254, 255, 0.455);
}

.main {
  width: 84.25%;
  display: flex;
  flex-direction: row;
}

.noteTitle {
  margin: 0;
}

.inputDiv {
  flex-basis: 98%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px;
  max-height: 100vh;
  overflow-y: scroll;
  margin-left: 10px;
}

.titleInput {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 10px;
  border-radius: 8px;
  font-size: 26px;
  font-weight: 550;
  width: 90%;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.titleInput::placeholder {
  opacity: 0.35;
}

.tinymce {
  flex: 1;
}

.saveNewButtons {
  display: flex;
  flex-direction: row;
  /* margin-top: 10px; */
  /* width: 300px; */
}

.newNoteButton {
  width: 100px;
  height: 3.5vh;
  margin-left: 0.5vw;
  margin-top: 15px;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(81, 111, 222);
  color: rgb(67, 100, 220);
  display: flex;
  align-items: center;
  justify-content: center;
}
.newNoteButton:hover {
  background-color: rgb(62, 93, 203);
  color: white;
  cursor: pointer;
}

.submitNote {
  width: 70px;
  height: 3.5vh;
  margin-left: 0.5vw;
  margin-top: 15px;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(67, 137, 71);
  color: rgb(67, 137, 71);
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitNote:hover {
  background-color: rgb(67, 137, 71);
  color: white;
  cursor: pointer;
}

.removeNote {
  width: 100px;
  height: 3.5vh;
  margin-left: 0.5vw;
  margin-top: 15px;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(190, 85, 85);
  color: rgb(190, 85, 85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeNote:hover {
  background-color: rgb(190, 85, 85);
  color: white;
  cursor: pointer;
}

.trashHistory {
  /* outline: 1px solid greenyellow; */
}

.trashBin {
  width: 100px;
  height: 100px;
}

.trashBinButton {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: #fff;
}

.trashBinIcon {
  margin-right: 0.5rem;
}

.trashBinText {
  margin-left: 0.25rem;
  font-size: 13px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.317);
}

.historyDeleted {
  background-color: rgba(0, 0, 0, 0.275);
  height: 200px;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-bottom: 25px;
}

.restoreIcon {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
}

.restoreText {
  margin-left: 0.25rem;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
